$def with(producto)
<h3>
    <a href="/producto">producto</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>producto</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in producto:
        <tr>
            <td><a href='/producto/view/$item.id_producto'>$item.nombre</a></td>
            <td><a href='/producto/edit/$item.id_producto'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/producto/delete/$item.id_producto'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>